<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
New
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
    <h3>Автор: {{ post.author.user.username }}
        {% if post.author.user.first_name %}
        ({{ post.author.user.first_name }} {{ post.author.user.last_name }})
        {% endif %}
    </h3>
    <h3>Дата публикации: {{ post.date|date:'d.m.Y' }}</h3>
    <h3>{{ post.type }}</h3>
    <h2>{{ post.text|censor }}</h2>
    <div>Рейтинг: {{ post.rating }}</div>
    <a href="update/">Редактировать</a><a href="delete/">Удалить</a>
{% endblock content %}