<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
{% if news %}
<h1>{{ news|get_category }}</h1>
{% endif %}
<h3>На странице: {{ news|length }} Всего: {{ paginator.object_list|length }}</h3>
    <h6><a href="create/">Создать</a></h6>
    {% if is_not_author %}
        <h6><a href="/news/author">Стать автором</a></h6>
    {% endif %}
<table>
    <tr>
        <td>Заголовок</td><td>Дата публикации</td>
        <td>Текст</td>
    </tr>
    {% for new in news %}
    <tr>
        <td><a href="{{ new.pk }}">{{ new.title|censor }}</a></td><td>{{ new.date|date:'d.m.Y' }}</td>
        <td>{{ new.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
</table>
    <div>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != paginator.num_pages %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    </div>
    <div>Справочно: имеющиеся id новостей в бд:
    {% for new in news %}
        {{ new.id }}
    {% endfor %}</div>
{% endblock content %}